<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mchange.v2" level="warn"/>
    <logger name="org.elasticsearch" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="io.vertx" level="info"/>
    <logger name="io.swagger" level="info"/>
    <logger name="com.networknt.schema" level="info"/>
    <logger name="org.apache.shiro" level="info"/>
    <logger name="org.apache.http" level="info"/>
    <logger name="io.piveau" level="${PIVEAU_LOG_LEVEL:-INFO}"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
